.tkrfont {
    color: rgb(7, 7, 90) !important;
}

.service-title-bg {
    background-image: url(foto/Lorong1.JPG) !important;
    background-position: center center;
    background-size: cover;
    height: 350px;
    position: relative;
    z-index: 0
}

.elementor-video-iframe {
    width: 100%;
    height: 50%;
    position: relative;
}

.sidebar {
    padding-bottom: 1rem;
}

.childern {
    background: #294a70 none repeat scroll 0 0;
    left: 0;
    min-width: 200px;
    position: absolute;
    top: 120%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s
}

h2 {

    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    line-height: 1;
    margin-bottom: 25px
}

h1 {

    
    font-size: 35px;
    font-weight: 600;
    color: #111;
    line-height: 1;
    margin-bottom: 25px
}

.h4-css {
    font-size: 20px;
    color: #000000 !important;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1;
    text-transform: capitalize
}

.dropside{
    position: absolute !important; 
    left: 102% !important;
    top: 0% !important;
}

.img-key{
    width: 75px !important;
        border-radius: 5px !important;
}

.img-guru {
    width: 130px !important;
    border-radius: 5px !important;
}

.img-dow {
    width: 35px !important;
    border-radius: 0px !important;
}

.team-section .team-card .jurusan-img img {
    width: 50%
}
.team-section .team-card .jurusan-img {
    position: relative;
    overflow: hidden
}

.pt-1000{
    padding-top: 0px;
}

.element.stlye{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 330px;
    height: 60px;
    position: relative;
    margin-bottom: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}

.main-service-area .service-item1 {
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #c3ccff
    
}

.main-service-area .service-item1::before {
    position: absolute;
    content: '';
    background: #031888;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    -webkit-transition: 1s;
    transition: 1s
}

.main-service-area .service-item1:hover {
    -webkit-box-shadow: 0 10px 30px 0 #cfc4f7;
    box-shadow: 0 10px 30px 0 #cfc4f7
}

.cardjurusan {
    overflow: hidden;
        text-overflow: ellipsis;
        width: 330px;
        height: 100px;
        position: relative;
        margin-bottom: 20px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        word-break: break-word;
}
.img-sidebar {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.keymodul table {
    width: 100% !important;
    border: 1px solid #eef0f2;
}