.imgsop {
    height: 155px !important;
    width: 150px !important;
}

.thsop {
    width: 12px;
    /* padding-right: 0px; */
}

.thimg {
    width: 118px !important;
}

.imgg {
    height: 310px;
    width: 415px;
}

.overflow {
    /* height: 3pc; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 330px;
    height: 60px;
    position: relative; */
    /* margin-bottom: 20px; */
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}

.overflow1 {
    /* height: 3pc; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 330px;
    height: 60px;
    position: relative; */
    /* margin-bottom: 20px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}

.yosopelipsis p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}

.imgge {
    height: 242px !important;
    width: 180px !important;
}

.imgguru {
    height: 300px !important;
    width: 305px !important;
    /* max-width: none; */
}

.service-title-bg {
    background-image: url(foto/Gerbang\ 2.JPG) !important;
    background-position: center center;
    background-size: cover;
    height: 350px;
    position: relative;
    z-index: 0;
}

.imgkep {
    height: 500px !important;
    width: 305px !important;
}

.modalyosop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-contentyosop {
    position: relative;
    max-width: 50em;
    margin: 0 auto;
    display: block;
    padding: 0 3%;
    height: auto;
    z-index: 10;
    top: 57%;
    transform:
        /*translateX(-50%)*/
        translateY(-50%);
    /*left: 50%;*/
}

.video-container {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    height: 0;
    height: 483px;
    width: 860px;
    right: 6pc;
    /*border: 2px #FFF solid;*/
    box-shadow: 0 0 15px #333;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    /* right: 35px; */
    left: 49pc;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px #fff solid;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #70d0d0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    z-index: 101;
    transition: all 0.3s ease;
}

.-webkit-.touchevents .close-modal {
    line-height: 0.5;
}

.close-modal svg {
    width: 100%;
}

.close-modal:hover {
    opacity: 0.8;
    color: #fff;
}

.img-detailekstra {
    height: 350px;
    width: 50px;
}

h2 {
    text-align: center;
    padding: 20px;
}

/* logo slider */

/* Logo Slider */

.logo-slider {
    background: white;
    -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logo-slider::before,
.logo-slider::after {
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(white),
            to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right,
            white 0%,
            rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 175px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.logo-slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.logo-slider::before {
    left: 0;
    top: 0;
}

.logo-slider .logo-slide-track {
    -webkit-animation: logo-scroll 60s linear infinite;
    animation: logo-scroll 60s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(530px * 14);
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.logo-slider .slideyosop {
    height: 150px;
    width: 250px;
    padding: 20px;
}

@-webkit-keyframes logo-scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes logo-scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.img-blog {
    height: 350px;
}

.img-detailblog {
    height: 80px;
    width: 100px;
}

.sidebar-post-inner {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 10px 30px 0;
}

.sidebar-post-inner .image-widget-post {
    width: 30%;
    height: auto;
    float: left;
}

.sidebar-post-inner:last-child {
    margin-bottom: 0;
}

.sidebar-post-inner .info-widget-post h5 {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
    color: #1c3547;
}

.info-widget-post small {
    color: #828893;
}

.course-sec .bg-shape {
    position: absolute;
    top: 180px;
    left: 0;
    border-radius: 10px;
    height: calc(100% - 180px);
    width: 100%
}

.img-box5 .shape {
    position: absolute;
    bottom: 0;
    left: 48px;
    margin-bottom: -5pc;
    -webkit-animation: jumpAni 7s linear infinite;
    animation: jumpAni 7s linear infinite
}

.sidebar-post-inner .info-widget-post {
    width: 70%;
    height: auto;
    float: left;
    padding-left: 15px;
}

.sidebar-post-inner img {
    width: 115px;
}

.sidebar-post-inner a {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    border-radius: 2px;
}

.sidebar-categroies .catgeorie-list {
    position: relative;
}

.sidebar-categroies .catgeorie-list li {
    position: relative;
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.sidebar-categroies .catgeorie-list li a {
    line-height: 18px;
    font-weight: 500;
    color: #1c3547;
    display: block;
}

.img-detail {
    height: 580px;
    width: auto;
}


.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    line-height: 50px;
    color: #03446A;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back {
    background: white;
    color: white;
    transform: rotateY(180deg);
}

.fotokepsek {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 100;
    /* position: absolute !important    ; */
}
