.imgsop {
    height: 155px !important;
    width: 150px !important;
}

.thsop {
    width: 12px;
    /* padding-right: 0px; */
}

.thimg {
    width: 118px !important;
}

.imgg {
    height: 310px;
}

.overflow {
    /* height: 3pc; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 330px;
    height: 60px;
    position: relative; */
    /* margin-bottom: 20px; */
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}

.overflow1 {
    /* height: 3pc; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 330px;
    height: 60px;
    position: relative; */
    /* margin-bottom: 20px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}

.imgge {
    height: 242px !important;
    width: 180px !important;
}

.imgguru {
    height: 300px !important;
    width: 305px !important;
    /* max-width: none; */
}

.service-title-bg {
    background-image: url(foto/Lorong1.JPG) !important;
    background-position: center center;
    background-size: cover;
    height: 350px;
    position: relative;
    z-index: 0;
}

.imgkep {
    height: 500px !important;
    width: 305px !important;
}

.modalyosop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-contentyosop {
    position: relative;
    max-width: 50em;
    margin: 0 auto;
    display: block;
    padding: 0 3%;
    height: auto;
    z-index: 10;
    top: 57%;
    transform:
        /*translateX(-50%)*/
        translateY(-50%);
    /*left: 50%;*/
}

.video-container {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    height: 0;
    height: 483px;
    width: 860px;
    right: 6pc;
    /*border: 2px #FFF solid;*/
    box-shadow: 0 0 15px #333;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    /* right: 35px; */
    left: 49pc;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px #fff solid;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #70d0d0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    z-index: 101;
    transition: all 0.3s ease;
}

.-webkit-.touchevents .close-modal {
    line-height: 0.5;
}

.close-modal svg {
    width: 100%;
}

.close-modal:hover {
    opacity: 0.8;
    color: #fff;
}
