.hcard {
    height: 13pc;
}

.hcard:hover {
    background: none !important;
}

.colorori {
    color: #646464 !important;
}

.iknrounded {
    float: none !important;
    top: 0 !important;
}

.sidetitle {
    background: #0d6efd none repeat scroll 0 0;
    border: none;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 8px 20px;
    text-transform: capitalize;
    border-left: none;
    border-right: none;
    color: #fff !important;
    text-align: left;
    font-weight: 500;
    position: relative;
}

.sidetitle::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: -3px;
    border-top: 2px solid #0c288b;
}

.sidetitle::after {}

.effecthover-s:hover {
    padding-left: 10px;
    color: #0c288b !important;
}

.ytvideo {
    position: inherit;
    right: 50px;
    width: 356px;
    height: 13pc;
    bottom: 3pc;
}

.fz-16px {
    font-size: 16px;
}

.listitemzak {
    width: fit-content !important;
    color: #646464 !important;
}

.judulkbkk {
    height: 3pc;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 330px;
    height: 60px;
    position: relative; */
    margin-bottom: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}
.h-200{
    height: 200px;
}
.badge{
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.dangerspan{
    background-color: red;
    color: white;
}
.secondspan{
    background-color:#6c757d;
    color: white;
}
/***************** RESPONSIVE ZAKI *************/
@media (max-width:767px) {
    .ytvideo {
        position: inherit;
        left: -1.9px;
        top: -18.9px;
    }
}
