.hcard {
    height: 13pc;
}

.hcard:hover {
    background: none !important;
}

.colorori {
    color: #646464 !important;
}
.iknrounded{
    float: none !important;
    top: 0 !important;
}
.sidetitle{
    background: #0d6efd none repeat scroll 0 0;
    border:none;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 8px 20px;
    text-transform: capitalize;
    border-left: none;
    border-right: none;
    color: #fff !important;
    text-align: left;
    font-weight: 500;
    position: relative;
}
.sidetitle::before{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: -3px;
    border-top: 2px solid #0c288b;
}
.sidetitle::after{

}
.effecthover-s:hover{
    padding-left: 10px;
    color: #0c288b !important;
}
