.hcard {
    height: 10pc;
}

.hcard:hover {
    background: none !important;
}

.colorori {
    color: #646464 !important;
}

.iknrounded {
    float: none !important;
    top: 0 !important;
}

.sidetitle {
    background: #0d6efd none repeat scroll 0 0;
    border: none;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 8px 20px;
    text-transform: capitalize;
    border-left: none;
    border-right: none;
    color: #fff !important;
    text-align: left;
    font-weight: 500;
    position: relative;
}

.sidetitle::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: -3px;
    border-top: 2px solid #0c288b;
}

.sidetitle::after {}

.effecthover-s:hover {
    padding-left: 10px;
    color: #0c288b !important;
}

.ytvideo {
    position: inherit;
    right: 50px;
    width: 356px;
    height: 13pc;
    bottom: 3pc;
}

.fz-16px {
    font-size: 16px;
}

.listitemzak {
    width: fit-content !important;
    color: #646464 !important;
}

.judulkbkk {
    height: 3pc;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 330px;
    height: 60px;
    position: relative; */
    margin-bottom: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
}

.h-200 {
    height: 200px;
}

.h-40 {
    height: 40px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.dangerspan {
    background-color: red;
    color: white;
}

.secondspan {
    background-color: #6c757d;
    color: white;
}

.imgvisi {
    width: -webkit-fill-available;
}

.w-48 {
    width: 48%;
}

.nameso {
    position: absolute;
    bottom: -51px;
    text-align: center;
    background: blue;
    color: white;
    padding: 0;
    margin: 0;
}

.shadows {
    box-shadow: 0 0 25px 0 #0000001f;
}

.mb-40px {
    margin-bottom: 40px !important;
}

.img-overlay {
    position: relative;
    /* width: 25%; */
}

.img-overlay-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: rgba(0, 0, 0, .5); */
}

.img-overlay:hover .overlay {
    opacity: 1;
}

.h-12pc {
    height: 12pc;
}

.text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 86%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

.blog-area {
    -webkit-box-shadow: 0 1px 14px rgba(72, 73, 121, .15);
    box-shadow: 0 1px 14px rgba(72, 73, 121, .15);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px
}

.p-10px {
    padding: 10px;
}

.scrollblg {
    overflow: auto;
    height: 358mm;
}

.overimg {
    overflow-x: hidden;
    height: 216px;

}

.elipsiszak {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.elipsisjudul {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 53px;
    /* border: 1px solid black; */
}

.float-right {
    float: right;
}

.text-elipsiszak {
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h-fc {
    height: fit-content;
}

.price-card-area .plan-features ul li {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #111;
    line-height: 1.3 !important;
    margin-bottom: 20px;
}

.price-card-area .plan-features {
    padding: 30px 30px 30px 20px !important;
}

.hovchange:hover+.side-sejarah {
    display: block;
}

.hovchange:hover {
    display: none;
}

.hovchange {
    transition: all 2s ease;
}

.side-sejarah {
    display: none;
    transition: 3s;
}

.cardkbkk {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.card-jurusan i {
    font-size: medium !important;
}

.card-jurusan p {
    width: auto !important;
    height: 85px !important;
    -webkit-line-clamp: 3 !important;
}

.main-service-area .service-item {
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #c3ccff;
    width: initial !important;
    height: 370px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bkk-konten-container .img-logo {
    height: 17pc;
    width: 17pc !important;
}

.why-us-text .owl-stage-outer {
    height: 100%;
}

.owltik {
    position: absolute;
    bottom: -5px;
    z-index: 5;
    /* top: 50pc; */
    left: 320px;
}

.why-us .why-us-text {
    padding-left: 38px !important;
}

.basic-card-light {
    border: 1px solid #eee;
}

.basic-card {
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
    height: 11.5pc;
    overflow: hidden;
    border-top: 5px solid #031888;
    border-radius: 0.75em;
    /* width: 92%;
    height: 85% !important;
    position: relative;
    -webkit-box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 30%);
    height: 70%;
    overflow: hidden; */
}

.col-6:hover .basic-card::before {
    bottom: 0;
}

.basic-card:hover {
    border-top: none;
    /* color: white; */
}

.col-6:hover .card-title,
.col-6:hover .card-text {
    color: white;

}

.basic-card::before {
    position: absolute;
    content: '';
    background: #031888;
    width: 100%;
    height: 100%;
    bottom: 20pc;
    left: 0;
    z-index: -1;
    border-radius: 0.75rem;
    -webkit-transition: 1s;
    transition: 1s;
}

.cardboxzak {
    border: 1px solid black;
    border: 1px solid black;
    width: 16pc;
    height: 13pc;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cardboxzak::before {
    content: "";
    position: absolute;
    left: 7pc;
    width: 6%;
    height: 150%;
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    animation: glowing01 5s linear infinite;
    transform-origin: center;
    animation: glowing 5s linear infinite;
    z-index: 0;
}

.basic-card .card-content {
    padding: 30px;
    height: auto;
    overflow: auto;
    display: flex;
    height: 12pc;
    width: 100%;
    flex-direction: column;
    align-content: center;
   /* justify-content: center; */
}

.basic-card-light .card-title {
    color: #636363;
}

.basic-card .card-title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
    word-break: break-word;
    -webkit-transition: 0.5s;
}

.basic-card-light .card-text {
    color: #7b7b7b;
    font-weight: bold;
    transition: 1s;
    -webkit-transition: 1s;
}

.basic-card .card-text {
    line-height: 1.6;
}

.idenwarp {
    padding: 10px;
}

/* start dharmawnita card */
.carddharma{
    width: auto;
    height: 414px;
    /* margin: 1em; */
    perspective: 1500px;
}

.carddharma .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
    display: none;
}

.more:checked~.content {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
}

.front .inner,
.back .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
}

.front {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
}

.front:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 6px;
    backface-visibility: hidden;
    background: linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7));
}

.front .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
}

.front h2 {
    grid-row: 2;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.front .rating {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
}

.front .rating i {
    margin: 0 1px;
}

.back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 2px solid #f0f0f0;
    display: flex;
    flex-direction: column;
}

.back .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
}

.back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: #355cc9;
    grid-row: 3;
}

.back .info:not(:first-of-type):before {
    content: "";
    position: absolute;
    left: -0.9em;
    height: 18px;
    width: 1px;
    background-color: #ccc;
}

.back .info span {
    font-size: 2em;
    font-weight: 700;
}

.back .info i {
    font-size: 1.2em;
}

.back .info i:before {
    background: linear-gradient(40deg, #355cc9, #438af3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.back .info .icon {
    margin-left: 0.3em;
}

.back .info .icon span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
}

.back .description {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    color: #355cc9;
    padding-right: 10px;
}

.back .location,
.back .price {
    font-weight: 600;
    color: #355cc9;
    grid-row: 1;
    font-size: 0.86em;
}

.back .location {
    grid-column: 1/3;
    justify-self: left;
}

.back .price {
    grid-column: 3/-1;
    justify-self: right;
}

.back .button {
    grid-column: 1/-1;
    justify-self: center;
}

.button {
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: #355cc9;
}

.button.return {
    line-height: 3em;
    color: #355cc9;
    border-color: #355cc9;
    text-shadow: none;
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right:20px;
}

.button.return:hover {
    background-color: #355cc9;
    color: #fff;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #859ddf;
}

::-webkit-scrollbar-thumb:hover {
    background: #355cc9;
}

.btn-dharma{
    background-color: #031888;
    color: white;
    border-color: #0d6efd;
}

/* end dharmawnita card */

.team-section iframe{
    width: -webkit-fill-available;
}

/***************** keyframe ZAKI *************/
@keyframes glowing {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/***************** RESPONSIVE ZAKI *************/
@media (max-width:767px) {
    .ytvideo {
        position: inherit;
        left: -1.9px;
        top: -18.9px;
    }
}

@media (max-width:500px) {
    .wrz-50 {
        width: 50%;
    }
}
